<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body>
Login Page
<br>
<form action="#" method="post">
	<p>Name:</p>
	<p><input type="text" name="unm" />
	<p><label for="email">Enter your email:</label></p>
	<input type="email" id="email" name="email">
	<p><label for="pwd">Password:</label></p>
	<input type="password" id="pwd" name="pwd">

	<p><input type="checkbox" id="admin" name="admin" >
  	<label for="admin"> Are  you an admin?</label></p><br>
	<p><input type="submit" value="submit"/></p>
</form>
</body>
</html>
